/.DS_Store
/myImage.png
/output
/package-lock.json
/scketch-05.js
/skecht-07.js
/sketch-001.js
/sketch-002.js
/sketch-003.js
/sketch-004.js
/sketch-005.js
/sketch-006.js
/sketch-007.js
/sketch-008.js
/sketch-009.js
/sketch-00example.js
/sketch-01.js
/sketch-010.js
/sketch-011.js
/sketch-012.js
/sketch-02.js
/sketch-03.js
/sketch-04.js
/sketch-06.js